<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>357935783557-bjg7bnvfa1lcolcob3bovf1su4pdd30j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.357935783557-bjg7bnvfa1lcolcob3bovf1su4pdd30j</string>
	<key>API_KEY</key>
	<string>AIzaSyDMMHJsNTy0Xqi-dDY7bHZ9YXRUPO9ccCI</string>
	<key>GCM_SENDER_ID</key>
	<string>357935783557</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.paulinaknop.budgetAppStarting</string>
	<key>PROJECT_ID</key>
	<string>budget-app-89e2f</string>
	<key>STORAGE_BUCKET</key>
	<string>budget-app-89e2f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:357935783557:ios:7782fa55b11ca4837ed3ec</string>
</dict>
</plist>